services:
  gateway:
    image: ${OPENCLAW_IMAGE}
    restart: unless-stopped
    user: 0:0
    environment:
      TZ: Asia/Shanghai
      TERM: xterm-256color
      HOME: /home/node
      HOMEBREW_BREW_GIT_REMOTE: https://mirrors.ustc.edu.cn/brew.git
      HOMEBREW_API_DOMAIN: https://mirrors.ustc.edu.cn/homebrew-bottles/api
      HOMEBREW_BOTTLE_DOMAIN: https://mirrors.ustc.edu.cn/homebrew-bottles
    volumes:
      - ${OPENCLAW_HOME}:/home/node/.openclaw
      # 使用匿名卷排除extensions目录，使用镜像中预装的插件
      - /home/node/.openclaw/extensions
    ports:
      - "18789:18789"
      - "18790:18790"
    init: true

  cli:
    image: ${OPENCLAW_IMAGE}
    environment:
      TZ: Asia/Shanghai
      TERM: xterm-256color
      HOME: /home/node
      HOMEBREW_BREW_GIT_REMOTE: https://mirrors.ustc.edu.cn/brew.git
      HOMEBREW_API_DOMAIN: https://mirrors.ustc.edu.cn/homebrew-bottles/api
      HOMEBREW_BOTTLE_DOMAIN: https://mirrors.ustc.edu.cn/homebrew-bottles
    volumes:
      - ${OPENCLAW_HOME}:/home/node/.openclaw
      - /home/node/.openclaw/extensions
    network_mode: service:gateway
    stdin_open: true
    tty: true
    init: true
    entrypoint: ["openclaw"]
